.aboutImage{
    width:400px;
    height:480px;
}
.aboutContainer{
    display:flex;
    color: white;
}
.Aboutdetails{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-start;
    width:70vw;
    padding: 50px;
    font-family:Times New Roman;
    font-size: 18px;
}